/SCS1201/Assignment/Take\ Home/Question\ 1/Question\ 1\ -\ Screenshots
/SCS1201/Assignment/Take\ Home/Question\ 2/Question\ 2\ -\ Screenshots
SCS1201/Practice/Tree/avl
SCS1201/Practice/Tree/bst
SCS1201/Practice/Tree/expression
SCS1201/Practice/Tree/new_tree
SCS1203/Assignment/Take Home/Implementation/.idea

*.o
*.zip
*.odt

.idea
.vscode

*/**/venv
